*{
  background-color: #F8EDE3;
}
.celsius{
  text-decoration: none;
  margin-left: 42%;
  height: 130px;
  width: 250px;
  margin-bottom: 20px;
  text-align: center;
  color: #334257;
  background-color: #F9F3F3;
  font-size: 20px;
}

.ask{
  text-align: center;
  text-decoration: none;
  background-color: whitesmoke;
}

.sen{
  background: linear-gradient(to right, #26F7FD
  , #3E82FC);
  font-size: 30px;
}

.hot{
  text-align: center;
  background: linear-gradient(to right, #FE2C54 , #FDAA47);
  font-size: 30px;
}

.head{
  text-align: center;
  margin-left: 35%;
  margin-right: 33%;
}
.boil{
  text-align: center;
  margin-left: 40%;
  margin-right: 38%;
}

.not{
  text-align: center;
  margin-left: 35%;
  margin-right: 33%;
}

