*{
  /* background-color: #3E82FC; */
}
.celsius{
  margin-left: 42%;
  margin-right: 40%;
  margin-bottom: 30px;
  color: red;
  text-align: center;
  background-color: #FDC1C5;
}

.sen{
  text-align: center;
  margin-left: 35%;
  margin-right: 33%;
  background: linear-gradient(to right, #26F7FD
  , #3E82FC);
  font-size: 30px;
}

.hot{
  text-align: center;
  margin-left: 35%;
  margin-right: 33%;
  background: linear-gradient(to right, #FE2C54 , #FDAA47);
  font-size: 30px;
}

.head{
  text-align: center;
  margin-left: 35%;
  margin-right: 33%;
}