*{
  background-color: #F8EDE3;
}
.celsius{
  text-decoration: none;
  margin-left: 41%;
  height: 130px;
  width: 250px;
  margin-bottom: 20px;
  text-align: center;
  color: #334257;
  background-color: #F9F3F3;
  font-size: 20px;
}

.ask{
  text-align: center;
  text-decoration: none;
  background-color: whitesmoke;
}

.sen{
  background: linear-gradient(to right, #26F7FD
  , #3E82FC);
  font-size: 30px;
}

.hot{
  text-align: center;
  background: linear-gradient(to right, #FE2C54 , #FDAA47);
  font-size: 30px;
}

.head{
  text-align: center;
  margin-left: 36%;
  margin-right: 33%;
}

.boil{
  text-align: center;
  margin-left: 40%;
  margin-right: 36%;
}

.not{
  text-align: center;
  margin-left: 40%;
  margin-right: 36%;
}

@media only screen and (max-width:1024px) {

  .head{
    text-align: center;
    height: 50px;
    width: 400px;
  }

  .boil{
    text-align: center;
    margin-left: 40%;
    margin-right: 28%;
  }
  
  .not{
    text-align: center;
    margin-left: 38%;
    margin-right: 28%;
  }
}

@media only screen and (max-width:768px){
  
  .head{
    text-align: center;
    height: 50px;
    width: 400px;
    margin-left: 28%;
  }

  .boil{
    text-align: center;
    margin-left: 36%;

  }
  
  .not{
    text-align: center;
    margin-left: 36%;

  }
  .celsius{
    margin-left: 35%;
  }
}

@media only screen and (max-width:426px){
  

.head{
  margin-left: 6%;
}

  .boil{
    text-align: center;
    margin-left: 18%;
    width: 300px;
  }
  
  .not{
    text-align: center;
    margin-left: 18%;
    width: 300px;
  }
  .celsius{
    margin-left: 20%;
  }
}